RGI2000-v7.0-G-14_south_asia_west-rgi6_links.csv
RGI2000-v7.0-G-14_south_asia_west-submission_info.csv
RGI2000-v7.0-G-14_south_asia_west-submission_info_metadata.json
RGI2000-v7.0-G-14_south_asia_west.cpg
RGI2000-v7.0-G-14_south_asia_west.dbf
RGI2000-v7.0-G-14_south_asia_west.prj
RGI2000-v7.0-G-14_south_asia_west.shp
RGI2000-v7.0-G-14_south_asia_west.shx
RGI2000-v7.0-G-15_south_asia_east-attributes.csv
RGI2000-v7.0-G-15_south_asia_east-attributes_metadata.json
RGI2000-v7.0-G-15_south_asia_east-hypsometry.csv
